.accessibility-button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 4rem;
    margin-right: 1rem;
    border-radius: 50%;
    z-index: 100;
}

.access-fontsize {
    font-size: 1.75rem;
}